
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Tarjimly</title>

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="Dex"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://dex.im">
    <meta property="og:site_name" content="Your friendly analytics bot"/>
    <meta property="og:description" content="Dex is an SMS bot that keeps you updated with your website analytics"/>
    <meta property="og:image" content="http://tr.af/shared/dex-fb.jpg">

    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,500' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet">

    <meta name="description" content="Your friendly analytics bot" />
    <meta name="author" content="">
        <script src="/pixels/googleAnalytics.js"></script>
        <script src="/pixels/mixpanel.js"></script>
        <script src="/pixels/facebook.js"></script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1117921941613294&ev=PageView&noscript=1"/></noscript>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/javascript/scripts.js"></script>
</head>

<body>
    <div class="overlay"></div>

<div class="modal">
    <button class="modal-close"><i class="ion-ios-close-empty"></i></button>
    <h2>Enter your phone number to get started with Dex.</h2>
    <form action="/sms/consent" method="POST" id="phone_number_form">
        <input type="tel" class="phone-number" placeholder="Mobile number" name="phone_number"/>
        <input type="submit" class="submit" value="&#xf3fd;"/>
    </form>
</div>

<div class="likely likely-light likely-header" data-url="https://dex.im" data-title="Dex, your friendly analytics bot">
    <div class="twitter">Tweet</div>
    <div class="facebook">Share</div>
</div>

<section class="first">
    <div class="container">
        <a href="/"><img class="logo" src="/images/logo-dex.png" width="100" alt="dex logo"/></a>
        <div class="smiley">&#9697;</div>
        <div class="typed"></div>
        <div class="convo">
            <div class="bubble bubble-first question">How many page views have I received today?</div>
            <div class="bubble bubble-second answer">Hi Ryan! You’ve gotten 161 unique visitors to your website today.</div>
            <div class="bubble bubble-third question">Hi Dex. What’s my revenue looking like this week?</div>
            <div class="bubble bubble-fourth answer">It’s looking good! You’ve made $2,460 in revenue so far this week! Keep at it!</div>
        </div>
    </div>
</section>

<a href="#" target="_blank" class="button center modal-trigger">Get Started</a>

<section class="second">
    <div class="container">
        <h1>What kinds of things can you ask me?</h1>
        <p>I'm glad you asked!</p>
        <div class="grid">
            <div class="column half">
                <h2>Page Views</h2>
                <h3>By day, week, month or year</h3>
                <div class="convo">
                    <div class="bubble question">How many page views have I received this week?</div>
                    <div class="bubble answer">Hi Ryan! You’ve gotten 1618 unique visitors to your website this week.</div>
                </div>
            </div>
            <div class="column half">
                <h2>Revenue</h2>
                <h3>How much money you're making</h3>
                <div class="convo">
                    <div class="bubble question">How much have I sold for this month?</div>
                    <div class="bubble answer">You've made $4,618 so far this month. Don't spend it all in one place!</div>
                </div>
            </div>
            <div class="column half">
                <h2>Basket Size</h2>
                <h3>Average revenue per transaction</h3>
                <div class="convo">
                    <div class="bubble question">What’s my basket size rate for the month of May?</div>
                    <div class="bubble answer">Your average basket size in the month of May was $61.28. </div>
                </div>
            </div>
            <div class="column half">
                <h2>Acquisition</h2>
                <h3>Find out where users are coming from</h3>
                <div class="convo">
                    <div class="bubble question">What sites bring me the most traffic?</div>
                    <div class="bubble answer">Most of your traffic is coming from Google, Twitter, and your Emails.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#" target="_blank" class="button center modal-trigger">Get Started</a>

<section class="third">
    <div class="container">
        <h1>Built on top of the industry standard</h1>
        <p>I'm just much simpler to use :)</p>
        <img src="/images/logo-ga.png" class="ga" alt="google analytics logo"/>
    </div>
</section>

<section class="fourth">
    <div class="block">
        <h1 class="h2">The best part about me? I’m completely free to use.</h1>
        <p class="price">$0</p>
        <a href="#" target="_blank" class="button modal-trigger">Get Started</a>
    </div>
    <h2 class="enjoy">Enjoy your <span id="weekday"></span> :)</h2>
    <div class="likely likely-big likely-light likely-footer" data-url="https://dex.im" data-title="Dex, friendly analytics bot">
        <div class="twitter">Tweet</div>
        <div class="facebook">Share</div>
    </div>
    <div class="email-footer">
        <a href="mailto:hello@dex.im">hello@dex.im</a> •
        <a href="/privacy">Privacy &amp; Terms</a>
    </div>
</section>

<script>

    // Get current day of the week
    var d = new Date();
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    var n = weekday[d.getDay()];
    document.getElementById("weekday").innerHTML = n;

    $(document).ready(function(){
        mixpanel.track_forms("#phone_number_form", "Submitted Phone Number");
        $('.modal-trigger').click(function(e){
            e.preventDefault();
            $('.modal').addClass('modal-show');
            $('.overlay').addClass('overlay-show');
            $('.phone-number').focus();
            mixpanel.track("Opened Phone Number Modal");
        });
        $('.modal-close, .overlay').click(function(e){
            e.preventDefault();
            $('.modal').removeClass('modal-show');
            $('.overlay').removeClass('overlay-show');
        });

        // Phone number formatting
        $('.phone-number').mask('(000) 000-0000');

        // Show continue button after phone number is inputted
        $('.phone-number').keyup(function () {
            if ($(this).val().length > 13) {
                $('.modal').addClass('with-button')
                $('.submit').addClass('show')
            } else {
                $('.modal').removeClass('with-button')
                $('.submit').removeClass('show')
            }
        });

        // Move share buttons when user reaches bottom
        $(window).scroll(function() {
            if ($(document).height() <= ($(window).height() + $(window).scrollTop())) {
                $('.likely-header').addClass('likely-hide');
                $('.likely-footer').addClass('likely-show');
            }
            else {
                $('.likely-header').removeClass('likely-hide');
                $('.likely-footer').removeClass('likely-show');
            }
        });

        // Show smiley when you hover on logo
        $('.logo').hover(function(){
            $('.smiley').toggleClass('smiley-show');
        });

        // Typed animation
        $(".typed").typed({
            strings: ["<h1>Hello, Welcome to Tarjimly.^400</h1><p>Connect with a refugee instantly and help them with translation.</p>"],
            showCursor: false,
            typeSpeed: 10
        });

        // Reveal elements on scroll
        window.sr = ScrollReveal({ reset: true }).reveal('h1, p, .block, .button, .column');

    });
</script>

    <script>
        $(document).ready(function(){
            mixpanel.track('Page Viewed', {
                'page name': document.title,
                'url': window.location.pathname
            });
        });
    </script>
</body>

