
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Tarjimly</title>

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="Dex"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://tarjimly-translate.herokuapp.com/">
    <meta property="og:site_name" content="Translate for refugees in need."/>
    <meta property="og:description" content="Tarjimly is a Messenger bot that connects you with refugees realtime to help translate for them."/>
    <meta property="og:image" content="http://tr.af/shared/dex-fb.jpg">

    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,500' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet">

    <meta name="description" content="Your friendly translator bot" />
    <meta name="author" content="">
        <script src="/pixels/googleAnalytics.js"></script>
        <script src="/pixels/mixpanel.js"></script>
        <script src="/pixels/facebook.js"></script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tarjimlyTranslate/"/></noscript>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/javascript/scripts.js"></script>
    <script src="/javascript/facebookPlugin.js"></script>
</head>

<body>
    <div class="overlay"></div>

<div class="modal">
    <button class="modal-close"><i class="ion-ios-close-empty"></i></button>
    <h2>Enter your phone number to get started with Tarjimly.</h2>
    <form action="/sms/consent" method="POST" id="phone_number_form">
        <input type="tel" class="phone-number" placeholder="Mobile number" name="phone_number"/>
        <input type="submit" class="submit" value="&#xf3fd;"/>
    </form>
</div>

<div class="likely likely-light likely-header" data-url="https://tarjim.ly" data-title="Looking for a way to help out refugees from anywhere in the world?  Check out Tarjimly: ">
    <div class="twitter">Tweet</div>
    <div class="facebook">Share</div>
</div>

<section class="first">
    <div class="container">
        <a href="/raw"><img class="logo" src="/images/TTransparent.png" width="100" alt="dex logo"/></a>
        <div class="smiley">&#9697;</div>
        <div class="typed" style="height:120px"></div>
        
<!--         <div class="convo">
            <div class="bubble bubble-first question">How many page views have I received today?</div>
            <div class="bubble bubble-second answer">Hi Ryan! You’ve gotten 161 unique visitors to your website today.</div>
            <div class="bubble bubble-third question">Hi Dex. What’s my revenue looking like this week?</div>
            <div class="bubble bubble-fourth answer">It’s looking good! You’ve made $2,460 in revenue so far this week! Keep at it!</div>
        </div> -->
    </div>
</section>


<!--
<a href="#" target="_blank" class="button center modal-trigger">Get Started</a>

<section class="second">
    <div class="container">
        <h1>How can I help a refugee right now?</h1>
        <p>I'm glad you asked!</p>
        <div class="grid">
            <div class="column half">
                <h2>Message Tarjimly</h2>
                <h3>Anytime on FB Messenger</h3>
                <div class="convo">
                    <div class="bubble question">Hello, how can I help refugees?</div>
                    <div class="bubble answer">Hi Aziz! You’ve gotten 1618 unique visitors to your website this week.</div>
                </div>
            </div>
            <div class="column half">
                <h2>Revenue</h2>
                <h3>How much money you're making</h3>
                <div class="convo">
                    <div class="bubble question">How much have I sold for this month?</div>
                    <div class="bubble answer">You've made $4,618 so far this month. Don't spend it all in one place!</div>
                </div>
            </div>
            <div class="column half">
                <h2>Basket Size</h2>
                <h3>Average revenue per transaction</h3>
                <div class="convo">
                    <div class="bubble question">What’s my basket size rate for the month of May?</div>
                    <div class="bubble answer">Your average basket size in the month of May was $61.28. </div>
                </div>
            </div>
            <div class="column half">
                <h2>Acquisition</h2>
                <h3>Find out where users are coming from</h3>
                <div class="convo">
                    <div class="bubble question">What sites bring me the most traffic?</div>
                    <div class="bubble answer">Most of your traffic is coming from Google, Twitter, and your Emails.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#" target="_blank" class="button center modal-trigger">Get Started</a>
-->

<section class="two">
<!--         <video src="/mockups/TarjimlyMockup.mp4" autoplay="true"></video>
        <center><video src="/mockups/tarjimly_mockup_3.mp4"></center> -->
        <!-- <td><center><img class="bottomimg" src="/mockups/iPhone6Plus2.png"  />
            <video class="topimg" src="/mockups/tarjimly_mockup_3.mp4" /></video>
        </center></td> -->
        <!-- <img src="/mockups/iPhone6Plus2.png"> -->
        <video src="/mockups/TMockMP4New.mp4" style="border-radius:50px" autoplay="true" loop="true"></video>
        
</section>


<section class="third">
    <div class="container">
        <h1>Finally a global way to help refugees</h1>

        <div class="containersmall">
        <p>1.3 Million refugees and asylum seekers are struggling in Europe because they can't easily communicate to meet basic needs.</p>

        <p>Tarjimly is a Facebook Messenger bot that connects volunteer translators (like you!) to refugees in dire need of translation services, to speak with doctors, aid workers, and legal representatives, to name a few.</p>

        <p>Private. Secure. Only when you're available.</p>

        <p>Try Tarjimly on Messenger today.</p>
        </div>
        <!-- <img src="/images/logo-ga.png" class="ga" alt="google analytics logo"/> -->
    </div>
</section>

<section class="fourth">
    <div class="block">
      <div class="form-div">
        <h1 class="h2">Sign Up to be a Translator</h1>
        <form action="/sms/consent" method="POST" id="translator-sign-up">
            <input type="email" class="email-address" placeholder="Email Address" name="email_address"/> <br>
            <h3>Languages you speak and write</h3>
              <label class="checkbox-label"> <input type="checkbox"  name="english" value="e"/> English </label> <br>
              <label class="checkbox-label">  <input type="checkbox"  name="arabic" value="a"/> Arabic </label> <br>
              <label class="checkbox-label"> <input type="checkbox"  name="farsi" value="f"/> Farsi </label> <br>
            <input type="text" class= "country" name="country" placeholder="Country"/>

             <input type="submit" class="submit show" value="&#xf3fd;"/> 
        </form>

        <!--  <a href="#" target="_blank" class="button modal-trigger">Get Started</a> -->
    </div>
  </div>
    <h2 class="enjoy">Enjoy your <span id="weekday"></span> :)</h2>
    <div class="likely likely-big likely-light likely-footer" data-url="https://tarjim.ly" data-title="Tarjimly, friendly translator bot">
        <div class="twitter">Tweet</div>
        <div class="facebook">Share</div>
    </div>
    <div class="email-footer">
        <a href="mailto:hello@tarjim.ly">hello@tarjim.ly</a>
        <!-- <a href="/privacy">Privacy &amp; Terms</a> -->
    </div>
</section>

<script>

    // Get current day of the week
    var d = new Date();
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    var n = weekday[d.getDay()];
    document.getElementById("weekday").innerHTML = n;



    function refresh_fb(){
      console.log("refresh-fb");


      (function(d, s, id){
        console.log('--- refresh called. document is ');
        console.log(d);
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {
           console.log("elemtn exists");
           console.log(js)
           console.log(fjs)
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
           return;
         }
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    }

    $(document).ready(function(){
        mixpanel.track_forms("#translator-sign-up", "Submitted Form");
        $('.modal-trigger').click(function(e){
            e.preventDefault();
            $('.modal').addClass('modal-show');
            $('.overlay').addClass('overlay-show');
            mixpanel.track("Opened Translator Modal");
        });
        $('.modal-close, .overlay').click(function(e){
            e.preventDefault();
            $('.modal').removeClass('modal-show');
            $('.overlay').removeClass('overlay-show');
        });

        // Phone number formatting
        $('.phone-number').mask('(000) 000-0000');

        // Show continue button after phone number is inputted
        $('.country').keyup(function () {
            //form is ready to be submitted
            if ($(this).val().length > 0) {
                $('.form-div').addClass('with-button')
                $('.submit').addClass('show')
                $('.fb-send-to-messenger').attr('data-ref','name: test, age: 22');

                console.log("calling refresh-fb");
                //refresh_fb();
                console.log(document.getElementsByTagName('script'));
                var js, fjs = document.getElementsByTagName('script')[0];
                js = document.createElement('script'); js.id = 'facebook-jssdk';
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);

                $.getScript("//connect.facebook.net/en_US/sdk.js", function(){
                });

            } else {
                $('.form-div').removeClass('with-button')
                $('.submit').removeClass('show')
            }
        });

        // Move share buttons when user reaches bottom
        $(window).scroll(function() {
            if ($(document).height() <= ($(window).height() + $(window).scrollTop())) {
                $('.likely-header').addClass('likely-hide');
                $('.likely-footer').addClass('likely-show');
            }
            else {
                $('.likely-header').removeClass('likely-hide');
                $('.likely-footer').removeClass('likely-show');
            }
        });

        // Show smiley when you hover on logo
        $('.logo').hover(function(){
            $('.smiley').toggleClass('smiley-show');
        });

        // Typed animation
        $(".typed").typed({
            strings: ["<h1>Welcome to Tarjimly^400</h1><h1>مرحبا بكم في ترجملي^400</h1><p>Connect with a refugee instantly and help them with translation.</p>"],
            showCursor: false,
            typeSpeed: 10
        });

        // Reveal elements on scroll
        window.sr = ScrollReveal({ reset: true }).reveal('h1, p, .block, .button, .column');

    });
</script>

    <script>
        $(document).ready(function(){
            mixpanel.track('Page Viewed', {
                'page name': document.title,
                'url': window.location.pathname
            });
        });
    </script>
</body>


<!--
"<h1>Welcome to Tarjimly^400</h1><h1>مرحبا بكم في ترجملي^400</h1><p>Connect with a refugee instantly and help them with translation.</p>"
-->