
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Tarjimly</title>

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="Dex"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://tarjimly-translate.herokuapp.com/">
    <meta property="og:site_name" content="Translate for refugees in need."/>
    <meta property="og:description" content="Tarjimly is a Messenger bot that connects you with refugees realtime to help translate for them."/>
    <meta property="og:image" content="http://tr.af/shared/dex-fb.jpg">

    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,500' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet">

    <meta name="description" content="Your friendly translator bot" />
    <meta name="author" content="">
        <script src="/pixels/googleAnalytics.js"></script>
        <script src="/pixels/mixpanel.js"></script>
        <script src="/pixels/facebook.js"></script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tarjimlyTranslate/"/></noscript>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/javascript/scripts.js"></script>
    <script src="/javascript/facebookPlugin.js"></script>
</head>

<body>
    <div class="overlay"></div>

<div class="modal">
    <button class="modal-close"><i class="ion-ios-close-empty"></i></button>
    <h2>Enter your phone number to get started with Tarjimly.</h2>
    <form action="/sms/consent" method="POST" id="phone_number_form">
        <input type="tel" class="phone-number" placeholder="Mobile number" name="phone_number"/>
        <input type="submit" class="submit" value="&#xf3fd;"/>
    </form>
</div>

<div class="likely likely-light likely-header" data-url="https://tarjim.ly" data-title="Looking for a way to help out refugees from anywhere in the world?  Check out Tarjimly: ">
    <div class="twitter">Tweet</div>
    <div class="facebook">Share</div>
</div>

<section class="first">
    <div class="container">
        <a href="/raw"><img class="logo" src="/images/TTransparent.png" width="100" alt="dex logo"/></a>
        <div class="smiley">&#9697;</div>
        <div class="typed" style="height:120px"></div>

<!--         <div class="convo">
            <div class="bubble bubble-first question">How many page views have I received today?</div>
            <div class="bubble bubble-second answer">Hi Ryan! You’ve gotten 161 unique visitors to your website today.</div>
            <div class="bubble bubble-third question">Hi Dex. What’s my revenue looking like this week?</div>
            <div class="bubble bubble-fourth answer">It’s looking good! You’ve made $2,460 in revenue so far this week! Keep at it!</div>
        </div> -->
    </div>
</section>


<!--
<a href="#" target="_blank" class="button center modal-trigger">Get Started</a>

<section class="second">
    <div class="container">
        <h1>How can I help a refugee right now?</h1>
        <p>I'm glad you asked!</p>
        <div class="grid">
            <div class="column half">
                <h2>Message Tarjimly</h2>
                <h3>Anytime on FB Messenger</h3>
                <div class="convo">
                    <div class="bubble question">Hello, how can I help refugees?</div>
                    <div class="bubble answer">Hi Aziz! You’ve gotten 1618 unique visitors to your website this week.</div>
                </div>
            </div>
            <div class="column half">
                <h2>Revenue</h2>
                <h3>How much money you're making</h3>
                <div class="convo">
                    <div class="bubble question">How much have I sold for this month?</div>
                    <div class="bubble answer">You've made $4,618 so far this month. Don't spend it all in one place!</div>
                </div>
            </div>
            <div class="column half">
                <h2>Basket Size</h2>
                <h3>Average revenue per transaction</h3>
                <div class="convo">
                    <div class="bubble question">What’s my basket size rate for the month of May?</div>
                    <div class="bubble answer">Your average basket size in the month of May was $61.28. </div>
                </div>
            </div>
            <div class="column half">
                <h2>Acquisition</h2>
                <h3>Find out where users are coming from</h3>
                <div class="convo">
                    <div class="bubble question">What sites bring me the most traffic?</div>
                    <div class="bubble answer">Most of your traffic is coming from Google, Twitter, and your Emails.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#" target="_blank" class="button center modal-trigger">Get Started</a>
-->

<section class="two">
<!--         <video src="/mockups/TarjimlyMockup.mp4" autoplay="true"></video>
        <center><video src="/mockups/tarjimly_mockup_3.mp4"></center> -->
        <!-- <td><center><img class="bottomimg" src="/mockups/iPhone6Plus2.png"  />
            <video class="topimg" src="/mockups/tarjimly_mockup_3.mp4" /></video>
        </center></td> -->
        <!-- <img src="/mockups/iPhone6Plus2.png"> -->
        <video src="/mockups/TMockMP4New.mp4" style="border-radius:50px" autoplay="true" loop="true"></video>

</section>


<section class="third">
    <div class="container">
        <h1>Finally a global way to help refugees</h1>

        <div class="containersmall">
        <p>1.3 Million refugees and asylum seekers are struggling in Europe because they can't easily communicate to meet basic needs.</p>

        <p>Tarjimly is a Facebook Messenger bot that connects volunteer translators (like you!) to refugees in dire need of translation services, to speak with doctors, aid workers, and legal representatives, to name a few.</p>

        <p>Private. Secure. Only when you're available.</p>

        <p>Try Tarjimly on Messenger today.</p>
        </div>
        <!-- <img src="/images/logo-ga.png" class="ga" alt="google analytics logo"/> -->
    </div>
</section>

<section class="fourth">
    <div class="block">
      <div class="form-div">
        <h1 class="h2">Sign Up to be a Translator</h1>


        <form action="/fb-button" method="GET" id="translator-sign-up">
            <input type="email" class="email-address" placeholder="Email Address" name="email"/> <br>
            <h3>Languages you speak and write</h3>
              <label class="checkbox-label"> <input type="checkbox"  name="english" value="e"/> English </label> <br>
              <label class="checkbox-label">  <input type="checkbox"  name="arabic" value="a"/> Arabic </label> <br>
              <label class="checkbox-label"> <input type="checkbox"  name="farsi" value="f"/> Farsi </label> <br>

              <h3> Your Timezone </h3>
<select name="timezone" id="tz-select">
  <option  value="" SELECTED>Select your timezone...</option>
	<option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</option>
	<option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
	<option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
	<option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
	<option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
	<option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</option>
	<option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
	<option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
	<option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
	<option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</option>
	<option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</option>
	<option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
	<option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</option>
	<option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
	<option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
	<option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</option>
	<option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
	<option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</option>
	<option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
	<option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</option>
	<option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</option>
	<option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
	<option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
	<option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</option>
	<option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
	<option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
	<option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
	<option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
	<option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
	<option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
	<option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
	<option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
	<option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
	<option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
	<option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</option>
	<option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
	<option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
	<option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
	<option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
	<option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</option>
	<option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
	<option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
	<option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
	<option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</option>
	<option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
	<option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
	<option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
	<option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
	<option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</option>
	<option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
	<option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
	<option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
	<option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
	<option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</option>
	<option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
	<option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
	<option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
	<option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</option>
	<option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
	<option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</option>
	<option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
	<option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
	<option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</option>
	<option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
	<option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
	<option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
	<option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
	<option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
	<option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
	<option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
	<option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
	<option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</option>
	<option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</option>
	<option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</option>
	<option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
	<option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
	<option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</option>
	<option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</option>
	<option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
	<option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</option>
	<option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
	<option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</option>
</select>

             <input type="submit" class="submit" value="&#xf3fd;"/>
        </form>

        <!--  <a href="#" target="_blank" class="button modal-trigger">Get Started</a> -->
    </div>
  </div>
    <h2 class="enjoy">Enjoy your <span id="weekday"></span> :)</h2>
    <div class="likely likely-big likely-light likely-footer" data-url="https://tarjim.ly" data-title="Tarjimly, friendly translator bot">
        <div class="twitter">Tweet</div>
        <div class="facebook">Share</div>
    </div>
    <div class="email-footer">
        <a href="mailto:hello@tarjim.ly">hello@tarjim.ly</a>
        <!-- <a href="/privacy">Privacy &amp; Terms</a> -->
    </div>
</section>

<script>

    // Get current day of the week
    var d = new Date();
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    var n = weekday[d.getDay()];
    document.getElementById("weekday").innerHTML = n;



    $(document).ready(function(){
        mixpanel.track_forms("#translator-sign-up", "Submitted Form");
        $('.modal-trigger').click(function(e){
            e.preventDefault();
            $('.modal').addClass('modal-show');
            $('.overlay').addClass('overlay-show');
            mixpanel.track("Opened Translator Modal");
        });
        $('.modal-close, .overlay').click(function(e){
            e.preventDefault();
            $('.modal').removeClass('modal-show');
            $('.overlay').removeClass('overlay-show');
        });

        // Phone number formatting
        $('.phone-number').mask('(000) 000-0000');

        // Show continue button after phone number is inputted
        $('#translator-sign-up :input').change(function () {
            //form is ready to be submitted
            if ( ($('.email-address').val().length > 0) && ($("input[type=checkbox]:checked").length > 0) && ($("#tz-select").val() != "")) {
                $('.form-div').addClass('with-button')
                $('.submit').addClass('show')

            } else {
                $('.form-div').removeClass('with-button')
                $('.submit').removeClass('show')
            }
        });

        // Move share buttons when user reaches bottom
        $(window).scroll(function() {
            if ($(document).height() <= ($(window).height() + $(window).scrollTop())) {
                $('.likely-header').addClass('likely-hide');
                $('.likely-footer').addClass('likely-show');
            }
            else {
                $('.likely-header').removeClass('likely-hide');
                $('.likely-footer').removeClass('likely-show');
            }
        });

        // Show smiley when you hover on logo
        $('.logo').hover(function(){
            $('.smiley').toggleClass('smiley-show');
        });

        // Typed animation
        $(".typed").typed({
            strings: ["<h1>Welcome to Tarjimly^400</h1><h1>مرحبا بكم في ترجملي^400</h1><p>Connect with a refugee instantly and help them with translation.</p>"],
            showCursor: false,
            typeSpeed: 10
        });

        // Reveal elements on scroll
        window.sr = ScrollReveal({ reset: true }).reveal('h1, p, .block, .button, .column');

    });
</script>

    <script>
        $(document).ready(function(){
            mixpanel.track('Page Viewed', {
                'page name': document.title,
                'url': window.location.pathname
            });
        });
    </script>
</body>


<!--
"<h1>Welcome to Tarjimly^400</h1><h1>مرحبا بكم في ترجملي^400</h1><p>Connect with a refugee instantly and help them with translation.</p>"
-->
